CompileFlags:
  CompilationDatabase: /Users/idrisabdi/GT_REPO/ITS-BRD-VSC/Programs/Stoppuhr/out/Stoppuhr/ITSboard_Assembly/Debug
  Add:
    - -include
    - /Users/idrisabdi/GT_REPO/ITS-BRD-VSC/Programs/Stoppuhr/out/Stoppuhr/ITSboard_Assembly/Debug/compile_macros.h
